.apps {
    width: 80%;
    margin: 50px;
}
.apps p {
    text-align: justify;
}
.header {
    display: flex;
    flex-direction: row;
}
.header-title {
    margin-left: 100px;
}
img {
    width: 200px;
    height: 150px;   
}
.main {
    clear: left;
}
.header h1 {
    text-align: center;
    color: rgb(187, 87, 21);

    /* Thiết lập màu cho nền */
    background-color: #fff;
    
    /* Áp dụng hiệu ứng opacity cho nền */
    opacity: 0.7;

    /* Áp dụng hiệu ứng text-shadow cho văn bản */
    text-shadow: 2px 2px 5px rgb(68, 68, 68);
}
.header h2 {
    text-align: center;
    color: rgb(0, 196, 52);
}
.list-a {
    color: rgb(17, 149, 74);
    font-weight: bold;
}

/* APPS__CONTENT */

        /* use !important trong css */
.apps-content p {
    color:rgb(171, 128, 100)!important
}

/* MEDIA */

.main-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: antiquewhite;
}
.main-media--audio,.main-media--video p {
    font-weight: bold;
}
.main-media--audio,.main-media--video a {
    text-decoration: none;
    color: rgb(11, 53, 239);
}
.main-media--audio,.main-media--video {
    margin: auto;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}